@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 9 9 11; /* Zinc 950 #09090B */
    --foreground: 250 250 250; /* Zinc 50 #FAFAFA */
  }

  body {
    @apply bg-canvas text-gray-50 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Glassmorphism Utilities */
@layer utilities {
  .glass {
    @apply bg-surface/50 backdrop-blur-xl border border-white/10;
  }
  
  .glass-panel {
    @apply bg-surface/80 backdrop-blur-md border-l border-white/5;
  }
  
  .flex-center {
    @apply flex items-center justify-center;
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20;
}
